html, body{
    background-color: rgb(163, 4, 163);
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

