html,
body {
  background-color: black;
  color: lightpink;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
  text-align: center;
}

button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 20px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #292828, -6px -6px 12px #222222;
  margin-top: 5px;
}

button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #5841d8 0%, #cf47f9 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 9em;
}
