html,
body {
  background-color: black;
  color: lightpink;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
  text-align: center;
}

button {
  background: linear-gradient(-45deg, #d46dee, #9f69fe, #6922ac, #d46dee);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1, 3rem;
  font-weight: 700;
  color: rgb(141, 17, 141);
  transition: all 0.8s ease-in-out;
}

button:hover {
  animation: gradient 8s infinite;
  transform: scale(1.05);
}

button:active {
  animation: gradient 8s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
